{% extends 'blog/base.html' %}


{% block title%}Blog Post{% endblock title%}


{% block content%}
<div class="row">
    <div class="col-md-4 col-12 mx-5 mt-3">
        <a class="btn btn-outline-secondary" href="{% url 'index' %}">Go back</a>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-12 mx-md-auto mx-3 pb-2 mb-3">
        <h1 class="fw-bold">{{ object.title}}</h1>
        <p class="text-muted">{{ object.date}}</p>
        <p class="text-muted">Posted by {{ object.author.username }}</p>
        <div class="my-3">
            <p class="text-muted">{{ object.content | safe }}</p>
        </div>
        {% if object.likes.count == 1 %}
            <p class="text-muted">{{ object.likes.count}} person like this post</p>
        {% else %}
            <p class="text-muted">{{ object.likes.count}} people likes this post</p>
        {% endif %}
    </div>
</div>

{% endblock content %}